.view_container {
  height: 92vh;
}

.chat_panel {
  height: 100vh;
  transition: 0.35s ease;
  position: absolute;
  right: 0;
}

.video_area {
  transition: 0.35s ease;
}

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.bottom_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}